*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color:#c0c0c0;
}
.a{
	border:5px solid grey;
	width:500px;
	position:relative;
	border-bottom-width:50px;
}
.one{
	width:100px;
	height:100px;
	background-color:blue;
	margin:20px;
	color:white;
	position:absolute;
	top:15%;
	right:15%;
}
.two{
	width:100px;
	height:100px;
	background-color:red;
	margin:20px;
	color:white;
}
.b{
	border:5px solid grey;
	width:500px;
	position:relative;
	border-bottom-width:50px;
}
.three{
	width:100px;
	height:100px;
	background-color:blue;
	margin:20px;
	color:white;
	position:relative;
	top:-15%;
	left:15%;
}
.four{
	width:100px;
	height:100px;
	background-color:red;
	margin:20px;
	color:white;
}
.c{
	border:1px solid grey;
	width:500px;
	position:fixed;
}
.five{
	width:100px;
	height:100px;
	background-color:blue;
	margin:20px;
	color:white;
	position:fixed;
	right:0;
	left:0;
	bottom:0;
}
.d{
	border:1px solid grey;
	width:500px;
}
 .sticky{
	border:1px solid grey;
	width:500px;
	position:sticky;
	top:0;
	background-color:brown;
	padding:20px;
	font-size:30px;
}
h1 {
	position:relative;
	left:30%;
}
h4{
	position:relative;
	left:5%;
}
.aa{
	border:5px solid grey;
	width:400px;
	border-bottom-width:50px;
}
.aa1{
	width:150px;
	height:80px;
	background-color:yellow;
transition:all 1s ease;
	margin:20px;
}
.aa1:hover{
	transform:rotate(20deg);
}
.aa2{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.aa3{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.aa3:hover{
	transform:rotatex(50deg);
}
.aa4{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.aa5{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.aa5:hover{
	transform:rotatey(50deg);
}
.aa6{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.aa7{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.aa7:hover{
	transform:translate(30px,40px);
}
.aa8{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.aa9{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.aa9:hover{
	transform:translateX(30px);
}
.aa10{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.aa11{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.aa11:hover{
	transform:translateY(30px);
}
.bb{
	border:5px solid grey;
	width:400px;
	border-bottom-width:50px;
}
.bb1{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.bb1:hover{
	transform:skew(20deg);
}
.bb2{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.bb3{
	width:150px;
	height:80px;
	background-color:yellow;
    transition:all 1s ease;
	margin:20px;
}
.bb3:hover{
		transform:skewX(25deg);
}
.bb4{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.bb5{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.bb5:hover{
	transform:skewY(25deg);
}
.bb6{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.bb7{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.bb7:hover{
	transform:skew(25deg,25deg);
}
.cc{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.cc1{
	width:150px;
	height:80px;
	background-color:yellow;
    transition:all 1s ease;
	margin:20px;
}
.cc1:hover{
		transform:scale(1.2);
}
.cc2{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.cc3{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.cc3:hover{
	transform:scaleX(1.5);
}
.cc4{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.cc5{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.cc5:hover{
	transform:scaleY(1.5);
}
.cc6{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.cc7{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.cc7:hover{
	transform:scale(1,0.8);
}
.dd{
	border:5px solid grey;
	width:400px;
		border-bottom-width:50px;
}
.dd1{
	width:150px;
	height:80px;
	background-color:yellow;
	transition:all 1s ease;
	margin:20px;
}
.dd1:hover{
	transform:matrix(0.5,0.8,-0.8,0.6,0,0);
}
.ff9{
	width:100px;
	height:100px;
	background-color:pink;
	transition:all 1s ease;
	transition-property:width,height;
}
.ff9:hover{
	width:300px;
	height:300px;
	background-color:yellow;
}
.ff10{
	width:100px;
	height:100px;
	background-color:pink;
	transition:all 1s ease;
	transition-property:width,height;
	transition-duration:2s;
}
.ff10:hover{
	width:300px;
	height:300px;
	background-color:yellow;
}
.ff11{
	width:100px;
	height:100px;
	background-color:pink;
	transition:all 1s ease;
	transition-property:width,height;
	transition-duration:2s;
	transition-delay:1s;
}
.ff11:hover{
	width:300px;
	height:300px;
	background-color:yellow;
}
.sk{
	border:5px solid grey;
	width:400px;
	border-bottom-width:50px;
}
#div1 {
	 width:100px;
  height:100px;
  background:red;
  transition:width 2s;
  }
  #div1:hover {
  width:300px;
  	transition-timing-function:linear;
}
#div2 {
	 width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
  }
   #div2:hover {
  width: 300px;
  transition-timing-function: ease;
}
  #div3 {
	   width:100px;
      height:100px;
      background:red;
      transition:width 2s;
  }
   #div3:hover {
  width:300px;
  	  transition-timing-function:ease-in;
}
  #div4 {
	   width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
  }
   #div4:hover {
  width: 300px;
  	  transition-timing-function: ease-out;
}
  #div5 {
	   width: 100px;
       height: 100px;
       background: red;
       transition: width 2s;
  }
   #div5:hover {
  width: 300px;
  	transition-timing-function: ease-in-out;
}


